section {
    padding: 15px;
}

p {
    font-size: 14px;
}

.card-center {
    text-align: center;
    background-color: #fff;
    margin-bottom: 5%;
}

.header{
    background-color: #0b2f5e;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image-profile {
    width: 100px;
    height: 100px;
}

.offers {
    margin-top: 15px; 
}

.freeOffer {
    background-color: #9aca40;
    color: #0B4210;
}

.fill-heart { 
    color: #f44336;
}

.fa-heart {
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
}

.reserve {
    background-color: #b2ebf2;
    color: #0b2f5e;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2%
}

.price {
    margin-bottom: 0px;
}